<mat-toolbar color="primary">

  <a href="/"><img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" title="Home" alt="Home" class="ng-star-inserted" width="150" height="40"></a>
    <span class="menu-spacer"></span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/apply-online">Apply Online</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/contact">Contact</button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
   <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/home">Home</button>
  <button mat-menu-item routerLink="/apply-online">Apply Online</button>
  <button mat-menu-item routerLink="/about">About</button>
  <button mat-menu-item routerLink="/contact">Contact</button>
  <!--<button mat-menu-item>Help</button>-->
</mat-menu>


<!-- 
<div style="height: 80vh;">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <a href="/"><img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" title="Home" alt="Home" class="ng-star-inserted" width="150" height="40"></a>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md style="margin-right: 200px;">
          
          <a routerLink="/" mat-button>Home</a>
          <a routerLink="/about" mat-button>Online Form</a>
          <a routerLink="/about" mat-button>About</a>
          <a routerLink="/about" mat-button>Contact</a>
          <a routerLink="/about" mat-button>Gallery</a>
          
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <mat-nav-list>
        
          <a routerLink="/about" mat-list-item>Home</a>
          <a routerLink="/about" mat-list-item>Online Form</a>
          <a routerLink="/about" mat-list-item>About</a>
          <a routerLink="/about" mat-list-item>Contact</a>
          <a routerLink="/about" mat-list-item>Gallery</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
    </mat-sidenav-container>
  </div> -->


  