<div class="container">
  <div class="row">
      
    
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
  
          
        <mat-form-field class="form-element" MatFormFieldControl >
          <mat-select matInput placeholder="Select Post" formControlName="post">
              <mat-option value = 'Driver'>Driver</mat-option>
              <mat-option value = 'Clerk'>Clerk</mat-option>
              <mat-option value = 'MP'>MP</mat-option>
              <mat-option value = 'POst'>POst</mat-option>
          </mat-select> 
        </mat-form-field> 

          <mat-form-field class="form-element">
            <mat-label>Full Name</mat-label>
            <input matInput placeholder="Enter Your Full Name" formControlName="full_name">
          </mat-form-field>
  
          <mat-form-field class="form-element">
              <input matInput placeholder="Email Address" formControlName="email">
              <!-- <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                {{ getErrorEmail() }}
              </mat-error> -->
            </mat-form-field>
            
            <mat-form-field class="form-element">
              <input matInput type="tel" placeholder="Mobile Number" formControlName="mobile">
              
              <!-- <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
                {{ getErrorPassword() }}
              </mat-error> -->
            </mat-form-field>

            <mat-form-field class="form-element">
              <mat-label>DOB</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
            
            <div class="form-element">
              <mat-label>Gender</mat-label>&nbsp;
             
              <mat-radio-group formControlName="gender" aria-label="aGender">
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
              </mat-radio-group>
              
            </div>
  
          <mat-form-field class="form-element">
            <textarea matInput placeholder="Address" matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="5" formControlName="address"></textarea>
            <!-- <mat-error *ngIf="!formGroup.controls['description'].valid && formGroup.controls['description'].touched">
              Required field, must be between 5 and 10 characters.
            </mat-error> -->
          </mat-form-field>
      
          <!-- <mat-form-field class="form-element"> -->
            <label>Upload Photo</label>
            <input  type="file" (change)="onFileChange($event)" />
        <!-- </mat-form-field> -->
        
          <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
          </div>
      
        </form>
  </div>
  </div>
  